<div class="mx-auto h-screen overflow-hidden w-fill flex flex-col gap-6" *ngIf="isActive()">
    <div class="mx-auto w-fill font-orbitron flex items-center justify-center" *ngIf="src_prometheus">
        <div class="text-7xl text-text bg-card rounded-b-lg p-7">
            {{ header() == '' ? 'GameServer Spielerzahlen' : header() }}
        </div>
    </div>

    <div class="mx-auto w-screen h-svh flex items-center" *ngIf="src_prometheus">
        <div class="w-screen flex flex-wrap gap-x-4 gap-y-4 justify-center">
            @for (count of counts_prometheus; track count.game) {
                <div class="p-4 w-1/{{ 7 - scale_prometheus }} bg-card rounded-xl shadow-md flex flex-col items-center gap-x-4 text-center">
                    <div class="text-{{ 5 + scale_prometheus }}xl text-text">{{ count.game }}</div>
                    <div class="text-{{ 8 + scale_prometheus }}xl font-orbitron text-highlight font-semibold" *ngIf="count.count == 0">{{ count.count }}</div>
                    <div class="text-{{ 8 + scale_prometheus }}xl font-orbitron text-ok font-semibold" *ngIf="(count.count > 0) && ((count.count / count.max) < 0.8) && ((count.max - count.count) > 1)">{{ count.count }}</div>
                    <div class="text-{{ 8 + scale_prometheus }}xl font-orbitron text-warn font-semibold" *ngIf="(((count.count / count.max) >= 0.8) || ((count.max - count.count) == 1)) && count.count != count.max">{{ count.count }}</div>
                    <div class="text-{{ 8 + scale_prometheus }}xl font-orbitron text-danger font-semibold" *ngIf="count.count == count.max">{{ count.count }}</div>
                    <div class="text-{{ 4 + scale_prometheus }}xl text-text">{{ count.name }}</div>
                </div>
            }
        </div>
    </div>

    <div class="mx-auto w-fill font-orbitron flex items-center justify-center" *ngIf="src_discord">
        <div class="text-7xl text-text bg-card rounded-b-lg p-7">
            {{ header() == '' ? 'Discord Spielerzahlen' : header() }}
        </div>
    </div>

    <div class="mx-auto w-screen h-svh flex items-center" *ngIf="src_discord">
        <div class="w-screen flex flex-wrap gap-x-4 gap-y-4 justify-center">
            @for (count of counts_discord; track count.game) {
                <div class="p-4 w-{{ scale_w_discord }}% bg-card rounded-xl shadow-md flex flex-row items-center justify-between gap-x-4 text-center">
                    <div class="text-{{ 6 + scale_discord }}xl text-text">{{ count.game }}</div>
                    <div class="text-{{ 9 + scale_discord }}xl font-orbitron text-highlight font-semibold">{{ count.count }}</div>
                </div>
            }
        </div>
    </div>
</div>
<!-- this comment helps tailwind to provide the required dynamically build classes at buildtime, do not remove this comment! w-1/7 w-1/6 w-1/5 w-1/4 w-1/3 w-90% w-45% w-30% w-23% text-4xl text-5xl text-6xl text-7xl text-8xl text-9xl text-10xl text-11xl text-12xl -->
