<div class="mx-auto max-h-screen overflow-hidden w-fill flex flex-col gap-6">
    <div class="mx-auto w-fill font-orbitron flex items-center justify-center">
        <div class="text-7xl text-text bg-card rounded-b-lg p-7">
            Ankündigungen
        </div>
    </div>

    <div class="mx-auto w-screen flex flex-col">
        @for (anno of announce; track anno.title) {
            <div class="w-screen flex flex-row items-center justify-between p-10 bg-anno-{{anno.layout}}">
                <div class="flex flex-col text-text">
                    <div class="text-8xl font-orbitron mb-4">{{ anno.title }}</div>
                    <div class="text-6xl mb-1" *ngIf="anno.msg">{{ anno.msg }}</div>
                    <div class="text-6xl" *ngIf="anno.time">Start in: {{ anno.time }}</div>
                </div>
                <div class="w-1/4 flex flex-col items-center" *ngIf="anno.img">
                    <img class="h-anno-img object-scale-down" src="{{anno.img}}" />
                </div>
            </div>
        }
    </div>
</div>
<!-- this comment helps tailwind to provide the required dynamically build classes at buildtime, do not remove this comment! bg-anno-ffa bg-anno-danger bg-anno-default -->
