<p-dialog [modal]="true" appendTo="body" [(visible)]="isVisible" [dismissableMask]="true" (onHide)="closeDialog()">
    <ng-template #headless>
        <div class="max-w-52% p-2 pt-1">
            <div class="w-fill flex flex-row justify-between items-start gap-5 mb-2">
                <div>&nbsp;</div>
                <div class="text-2xl">Screen Manager</div>
                <i class="pi pi-times !text-1xl hover:cursor-pointer hover:text-danger" (click)="closeDialog()"></i>
            </div>
            <div class="flex flex-wrap max-h-35% overflow-x-hidden overflow-y-scroll gap-2">
                @for (screen of screens().values(); track screen.id) {
                <element-screen [screen]="screen" [screenTemplates]="screenTemplates()" [users]="users()" [currentUser]="currentUser()"></element-screen>
                }
                <div class="w-10% bg-add-card rounded-xl shadow-md flex items-center justify-center p-5">
                    <i class="pi pi-plus-circle !text-3xl hover:cursor-pointer hover:text-highlight" (click)="createScreen()"></i>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>

<!-- CREATE SCREEN MODAL -->
<p-dialog [modal]="true" appendTo="body" [(visible)]="createScreenActive">
    <ng-template #headless>
        <element-screen [screen]="createScreenDummy" [screenTemplates]="screenTemplates()" [users]="users()" [currentUser]="currentUser()" [editMode]="true" (editResult)="screenCreated($event)" *ngIf="createScreenActive"></element-screen>
    </ng-template>
</p-dialog>
