<p-dialog [modal]="true" appendTo="body" [(visible)]="isVisible" [dismissableMask]="true" (onHide)="closeDialog()">
    <ng-template #headless>
        <div class="max-w-52% p-2 pt-1">
            <div class="w-fill flex flex-row justify-between items-start gap-5 mb-2">
                <div>&nbsp;</div>
                <div class="text-2xl">Screen Manager</div>
                <i class="pi pi-times !text-1xl hover:cursor-pointer hover:text-danger" (click)="closeDialog()"></i>
            </div>
            <div class="flex flex-row justify-start items-center gap-2 mb-2">
                <div>Filter:</div>
                <input pInputText id="filterDesc" [(ngModel)]="filterDesc" placeholder="description" autocomplete="off" autofocus />
                <p-select [(ngModel)]="filterUser" inputId="filterUser" [options]="selectableUsers" optionValue="code" optionLabel="name" />
                <p-select [(ngModel)]="filterTemplate" inputId="filterTemplate" [options]="selectableTemplates" optionValue="code" optionLabel="name" />
                <i class="pi pi-eye !text-2xl hover:cursor-pointer hover:text-highlight" pTooltip="show hidden Screens" showDelay="300" tooltipPosition="bottom" (click)="showHiddenScreens = true" *ngIf="!showHiddenScreens"></i>
                <i class="pi pi-eye-slash !text-2xl hover:cursor-pointer hover:text-highlight" pTooltip="suppress hidden Screens" showDelay="300" tooltipPosition="bottom" (click)="showHiddenScreens = false" *ngIf="showHiddenScreens"></i>
                <i class="pi pi-unlock !text-2xl hover:cursor-pointer hover:text-highlight" pTooltip="show only unlocked Screens" showDelay="300" tooltipPosition="bottom" (click)="ignoreScreenLocks = false; showLockedScreens = false" *ngIf="ignoreScreenLocks && !showLockedScreens"></i>
                <i class="pi pi-lock-open !text-2xl hover:cursor-pointer hover:text-highlight" pTooltip="show only locked Screens" showDelay="300" tooltipPosition="bottom" (click)="showLockedScreens = true" *ngIf="!ignoreScreenLocks && !showLockedScreens"></i>
                <i class="pi pi-lock !text-2xl hover:cursor-pointer hover:text-highlight" pTooltip="show locked and unlocked Screens" showDelay="300" tooltipPosition="bottom" (click)="ignoreScreenLocks = true; showLockedScreens = false" *ngIf="!ignoreScreenLocks && showLockedScreens"></i>
            </div>
            <div class="flex flex-wrap max-h-35% overflow-x-hidden overflow-y-scroll gap-2">
                @for (screen of screens().values(); track screen.id) {
                <element-screen [screen]="screen" [screenTemplates]="screenTemplates()" [medias]="medias()" [users]="users()" [currentUser]="currentUser()" [allowHide]="true" *ngIf="(showHiddenScreens == currentUser().hidden_elements.includes(screen.id!)) && (ignoreScreenLocks || showLockedScreens == screen.locked) && (filterUser == null || filterUser == screen.user_id) && (filterTemplate == null || filterTemplate == screen.template_id) && screen.desc.includes(filterDesc)"></element-screen>
                }
                <div class="w-10% bg-add-card rounded-xl shadow-md flex items-center justify-center p-5">
                    <i class="pi pi-plus-circle !text-3xl hover:cursor-pointer hover:text-highlight" (click)="createScreen()"></i>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>

<!-- CREATE SCREEN MODAL -->
<p-dialog [modal]="true" appendTo="body" [(visible)]="createScreenActive">
    <ng-template #headless>
        <element-screen [screen]="createScreenDummy" [screenTemplates]="screenTemplates()" [medias]="medias()" [users]="users()" [currentUser]="currentUser()" [editMode]="true" (editResult)="screenCreated($event)" *ngIf="createScreenActive"></element-screen>
    </ng-template>
</p-dialog>
