<div class="bg-card w-screen flex flex-col">
    <div class="text-10xl">Text</div>
    <div class="text-1xl">Text</div>
    <div class="text-2xl">Text</div>
    <div class="text-3xl">Text</div>
    <div class="text-4xl">Text</div>
    <div class="text-5xl">Text</div>
    <div class="text-6xl">Text</div>
    <div class="text-7xl">Text</div>
    <div class="text-8xl">Text</div>
    <div class="text-9xl">Text</div>
    
    <div class="text-11xl">Text</div>
    <div class="text-12xl">Text</div>
    <div class="text-13xl">Text</div>
    <div class="text-14xl">Text</div>
</div>