<div class="h-screen overflow-hidden w-screen h-screen flex items-center justify-center" *ngIf="isActive()">
    <div class="bg-card w-fit rounded-lg p-10 pl-16 pr-16 flex items-center justify-center flex-col">
        <div class="font-orbitron text-text text-7xl text-center mb-3" *ngIf="title">
            {{ title }}
        </div>
        <div class="text-14xl text-highlight">
            {{ countdown }}
        </div>
        <div class="font-orbitron text-text text-7xl text-center mt-4" *ngIf="subtitle">
            {{ subtitle }}
        </div>
    </div>
</div>
