<div class="mx-auto font-orbitron max-h-screen overflow-hidden w-fill h-screen flex items-center justify-center">
    <div class="bg-card w-3/4 rounded-lg p-10 flex items-center justify-center flex-col">
        <div class="text-text text-7xl text-center mb-3" *ngIf="title">
            {{ title }}
        </div>
        <div class="text-13xl text-highlight">
            {{ countdown }}
        </div>
        <div class="text-text text-7xl text-center mt-4" *ngIf="subtitle">
            {{ subtitle }}
        </div>
    </div>
</div>
