<p-dialog [modal]="true" appendTo="body" [(visible)]="isVisible" [dismissableMask]="true" (onHide)="closeDialog()">
    <ng-template #headless>
        <div class="max-w-53% p-2 pt-1">
            <div class="w-fill flex flex-row justify-between items-start gap-5 mb-2">
                <div>&nbsp;</div>
                <div class="text-2xl">Media Manager</div>
                <i class="pi pi-times !text-1xl hover:cursor-pointer hover:text-danger" (click)="closeDialog()"></i>
            </div>
            <div class="flex flex-row justify-start items-center gap-2 mb-2">
                <div>Filter:</div>
                <p-select [(ngModel)]="filterType" inputId="filterType" [options]="selectableTypes" optionValue="code" optionLabel="name" />
                <p-select [(ngModel)]="filterSrcType" inputId="filterSrcType" [options]="selectableSrcTypes" optionValue="code" optionLabel="name" />
                <p-select [(ngModel)]="filterUser" inputId="filterUser" [options]="selectableUsers" optionValue="code" optionLabel="name" />
                <p-select [(ngModel)]="filterCommon" inputId="filterCommon" [options]="selectableCommons" optionValue="code" optionLabel="name" />
            </div>
            <div class="flex flex-wrap w-fit max-h-35% overflow-x-hidden overflow-y-scroll gap-2">
                @for (media of medias().values(); track media.id) {
                <element-media [media]="media" [users]="users()" [currentUser]="currentUser()" *ngIf="(filterType == null || filterType == media.type) && (filterSrcType == null || filterSrcType == media.src_type) && (filterUser == null || filterUser == media.user_id) && (filterCommon == null || filterCommon == media.common)"></element-media>
                }
                <element-media [media]="createMediaDummy" [users]="users()" [currentUser]="currentUser()" [editMode]="true" (editResult)="createdMedia($event)" *ngIf="createMediaActive"></element-media>
                <div class="w-10% bg-add-card rounded-xl shadow-md flex items-center justify-center p-5">
                    <i class="pi pi-plus-circle !text-3xl hover:cursor-pointer hover:text-highlight" (click)="createMedia()"></i>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
