<div class="mx-auto max-h-screen overflow-hidden w-fill flex flex-col gap-6">
    <div class="mx-auto w-fill flex items-center justify-center">
        <div class="text-7xl text-text bg-card rounded-b-lg p-7">
            TrackMania Stats
        </div>
    </div>

    <div class="mx-auto w-screen flex flex-row justify-evenly">
        <div class="bg-card h-fit w-5/12 rounded-lg p-2">
            <div class="text-5xl text-text text-center pt-2 pb-4">
                aktuelle Strecke
            </div>
            <table class="table-auto text-4xl text-text w-full">
                <thead>
                    <tr class="border-b-2 border-background">
                        <th class="pb-2">Rang</th>
                        <th>Spieler</th>
                        <th>Zeit</th>
                    </tr>
                </thead>
                <tbody class="text-center divide-y divide-background">
                    @for (ranking of challenge_ranks; track ranking.rank) {
                        <tr class="">
                            <td class="p-2">{{ ranking.rank }}</td>
                            <td>{{ ranking.player }}</td>
                            <td>{{ (!ranking.time ? "---" : (ranking.time / 1000 | number: '1.2-2') + "s") }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="bg-card h-fit w-5/12 rounded-lg p-2">
            <div class="text-5xl text-text text-center pt-2 pb-4">
                Gesamtplatzierung
            </div>
            <table class="table-auto text-4xl text-text w-full">
                <thead>
                    <tr class="border-b-2 border-background">
                        <th class="pb-2">Rang</th>
                        <th>Spieler</th>
                        <th>Punkte</th>
                    </tr>
                </thead>
                <tbody class="text-center divide-y divide-background">
                    @for (ranking of global_ranks; track ranking.rank) {
                        <tr class="">
                            <td class="p-2">{{ ranking.rank }}</td>
                            <td>{{ ranking.player }}</td>
                            <td>{{ ranking.points }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>