<div class="mx-auto h-screen overflow-hidden w-fill flex flex-col gap-6" *ngIf="isActive()">
    <div class="mx-auto w-fill font-orbitron flex items-center justify-center" *ngIf="title">
        <div class="text-7xl text-text bg-card rounded-b-lg p-7">
            {{ title }}
        </div>
    </div>

    <div class="mx-auto w-screen flex flex-row justify-evenly">
        <div class="flex flex-col gap-8">
            <div class="text-6xl font-orbitron text-text text-center border-t-2 border-b-2 border-text p-3 rounded-xl">
                {{ tournament1.name }}
            </div>

            <div class="bg-card h-fit w-45% rounded-lg p-2">
                <div class="text-6xl font-orbitron font-medium text-text text-center pt-2 pb-4">
                    Runde {{ t1_round }}
                </div>
                <table class="table-auto text-6xl text-text w-full">
                    <thead>
                        <tr class="border-b-2 border-background">
                            <th style="width: 46%"></th>
                            <th></th>
                            <th style="width: 46%"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center divide-y divide-background">
                        @for (match of matches.values(); track match.id) {
                            <tr class="" *ngIf="match.tournament_id == tournament1_id && match.round == t1_round">
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player1_id == match.winner_id, 'text-watermark': match.winner_id && match.player1_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player1_id)!.portrait_id) }}" *ngIf="match.player1_id && participants.get(match.player1_id)!.portrait_id" />
                                        {{ match.player1_id ? participants.get(match.player1_id)!.name : '???' }}
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="text-watermark text-5xl" [ngClass]="{'text-match-active': match.state == 2}">
                                        <fa-icon [icon]="faBoltLightning"></fa-icon>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player2_id == match.winner_id, 'text-watermark': match.winner_id && match.player2_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player2_id)!.portrait_id) }}" *ngIf="match.player2_id && participants.get(match.player2_id)!.portrait_id" />
                                        {{ match.player2_id ? participants.get(match.player2_id)!.name : '???' }}
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="bg-card h-fit w-45% rounded-lg p-2" *ngIf="t1_round_loser">
                <div class="text-6xl font-orbitron font-medium text-text text-center pt-2 pb-4">
                    Loser Bracket {{ t1_round_loser * -1 }}
                </div>
                <table class="table-auto text-6xl text-text w-full">
                    <thead>
                        <tr class="border-b-2 border-background">
                            <th style="width: 46%"></th>
                            <th></th>
                            <th style="width: 46%"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center divide-y divide-background">
                        @for (match of matches.values(); track match.id) {
                            <tr class="" *ngIf="match.tournament_id == tournament1_id && match.round == t1_round_loser">
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player1_id == match.winner_id, 'text-watermark': match.winner_id && match.player1_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player1_id)!.portrait_id) }}" *ngIf="match.player1_id && participants.get(match.player1_id)!.portrait_id" />
                                        {{ match.player1_id ? participants.get(match.player1_id)!.name : '???' }}
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="text-watermark text-5xl" [ngClass]="{'text-match-active': match.state == 2}">
                                        <fa-icon [icon]="faBoltLightning"></fa-icon>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player2_id == match.winner_id, 'text-watermark': match.winner_id && match.player2_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player2_id)!.portrait_id) }}" *ngIf="match.player2_id && participants.get(match.player2_id)!.portrait_id" />
                                        {{ match.player2_id ? participants.get(match.player2_id)!.name : '???' }}
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flex flex-col gap-8">
            <div class="text-6xl font-orbitron text-text text-center border-t-2 border-b-2 border-text p-3 rounded-xl">
                {{ tournament2.name }}
            </div>

            <div class="bg-card h-fit w-45% rounded-lg p-2">
                <div class="text-6xl font-orbitron font-medium text-text text-center pt-2 pb-4">
                    Runde {{ t2_round }}
                </div>
                <table class="table-auto text-6xl text-text w-full">
                    <thead>
                        <tr class="border-b-2 border-background">
                            <th style="width: 46%"></th>
                            <th></th>
                            <th style="width: 46%"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center divide-y divide-background">
                        @for (match of matches.values(); track match.id) {
                            <tr class="" *ngIf="match.tournament_id == tournament2_id && match.round == t2_round">
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player1_id == match.winner_id, 'text-watermark': match.winner_id && match.player1_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player1_id)!.portrait_id) }}" *ngIf="match.player1_id && participants.get(match.player1_id)!.portrait_id" />
                                        {{ match.player1_id ? participants.get(match.player1_id)!.name : '???' }}
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="text-watermark text-5xl" [ngClass]="{'text-match-active': match.state == 2}">
                                        <fa-icon [icon]="faBoltLightning"></fa-icon>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player2_id == match.winner_id, 'text-watermark': match.winner_id && match.player2_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player2_id)!.portrait_id) }}" *ngIf="match.player2_id && participants.get(match.player2_id)!.portrait_id" />
                                        {{ match.player2_id ? participants.get(match.player2_id)!.name : '???' }}
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="bg-card h-fit w-45% rounded-lg p-2" *ngIf="t2_round_loser">
                <div class="text-6xl font-orbitron font-medium text-text text-center pt-2 pb-4">
                    Loser Bracket {{ t2_round_loser * -1 }}
                </div>
                <table class="table-auto text-6xl text-text w-full">
                    <thead>
                        <tr class="border-b-2 border-background">
                            <th style="width: 46%"></th>
                            <th></th>
                            <th style="width: 46%"></th>
                        </tr>
                    </thead>
                    <tbody class="text-center divide-y divide-background">
                        @for (match of matches.values(); track match.id) {
                            <tr class="" *ngIf="match.tournament_id == tournament2_id && match.round == t2_round_loser">
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player1_id == match.winner_id, 'text-watermark': match.winner_id && match.player1_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player1_id)!.portrait_id) }}" *ngIf="match.player1_id && participants.get(match.player1_id)!.portrait_id" />
                                        {{ match.player1_id ? participants.get(match.player1_id)!.name : '???' }}
                                    </div>
                                </td>
                                <td class="p-2">
                                    <div class="text-watermark text-5xl" [ngClass]="{'text-match-active': match.state == 2}">
                                        <fa-icon [icon]="faBoltLightning"></fa-icon>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex flex-row gap-3 justify-center" [ngClass]="{'text-highlight': match.winner_id && match.player2_id == match.winner_id, 'text-watermark': match.winner_id && match.player2_id != match.winner_id}">
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player2_id)!.portrait_id) }}" *ngIf="match.player2_id && participants.get(match.player2_id)!.portrait_id" />
                                        {{ match.player2_id ? participants.get(match.player2_id)!.name : '???' }}
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
