<p-dialog [modal]="true" appendTo="body" [(visible)]="isVisible" [dismissableMask]="true" (onHide)="closeDialog()">
    <ng-template #headless>
        <div class="max-w-53% p-2 pt-1">
            <div class="w-fill flex flex-row justify-between items-start gap-5 mb-2">
                <div>&nbsp;</div>
                <div class="text-2xl">Profile</div>
                <i class="pi pi-times !text-1xl hover:cursor-pointer hover:text-danger" (click)="closeDialog()"></i>
            </div>
            <div class="text-1xl m-1 mb-2">
                of {{ currentUser().login }}:
            </div>
            <div class="flex x-fill max-h-35% justify-center overflow-x-hidden overflow-y-auto">
                <div class="flex flex-col w-fit gap-2">
                    <div class="flex flex-row items-start">
                        <p-toggleswitch [(ngModel)]="currentUser().streamer" inputId="streamer" />
                        <label for="streamer" class="ml-2 text-text">start at Streamer-Interface</label>
                    </div>

                    <div class="flex flex-row items-start">
                        <p-toggleswitch [(ngModel)]="currentUser().prefer_single_shot" inputId="prefer_single_shot" />
                        <label for="prefer_single_shot" class="ml-2 text-text">prefer single_shot Timelines</label>
                    </div>
                </div>
            </div>
            <div class="flex justify-end m-1">
                <p-button label="Save" (onClick)="saveProfile()" />
            </div>
        </div>
    </ng-template>
</p-dialog>
