<!-- ACCEPT MODE -->
<div class="w-20% bg-kiosk-card rounded-xl shadow-md flex flex-col items-center text-center text-2xl p-5 gap-5" *ngIf="!kiosk().added_by_id && currentUser().admin">
    <div>
        Kiosk <span class="text-highlight">{{ kiosk().name }}</span> is requesting access
    </div>
    <div class="flex flex-row gap-10">
        <div class="flex flex-col hover:cursor-pointer hover:text-highlight" (click)="kioskAccept()">
            <i class="pi pi-check-circle !text-4xl"></i>
            <p>Accept</p>
        </div>
        <div class="flex flex-col hover:cursor-pointer hover:text-danger" (click)="kioskDelete()">
            <i class="pi pi-times-circle !text-4xl"></i>
            <p>Decline</p>
        </div>
    </div>
</div>

<!-- DISPLAY MODE -->
<div class="w-fit max-w-90% bg-kiosk-card rounded-xl shadow-md flex flex-col text-1xl p-2 pt-1" *ngIf="!editMode() && kiosk().added_by_id && (kiosk().common || currentUser().admin || kiosk().added_by_id == currentUser().id)">
    <div class="flex flex-row justify-between items-start gap-5 mb-1">
        <div class="flex flex-row items-center gap-1">
            <i class="pi pi-circle-off !text-1xl" pTooltip="only visible to owner" showDelay="300" tooltipPosition="right" *ngIf="!kiosk().common"></i>
            <i class="pi pi-circle-on !text-1xl" pTooltip="visible to anyone" showDelay="300" tooltipPosition="right" *ngIf="kiosk().common"></i>
            <div class="flex flex-row">
                <div *ngIf="kiosk().desc == ''">{{ kiosk().name }}</div>
                <div class="text-highlight" *ngIf="kiosk().desc != ''">{{ kiosk().desc }}</div>
            </div>
        </div>
        <div class="flex flex-row items-center gap-1">
            <i class="pi pi-user !text-1xl"></i>
            <div>{{ users().get(kiosk().added_by_id!)!.login }}</div>
        </div>
        <div class="flex flex-row gap-2">
            <a class="pi pi-external-link !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="open Kiosk's display in new window" showDelay="300" tooltipPosition="bottom" href="{{ selfUri }}" target="_blank"></a>
            <i class="pi pi-eye !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="hide Kiosk" showDelay="300" tooltipPosition="bottom" (click)="kioskHide()" *ngIf="!currentUser().hidden_elements.includes(kiosk().id)"></i>
            <i class="pi pi-eye-slash !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="unhide (show) Kiosk" showDelay="300" tooltipPosition="bottom" (click)="kioskUnhide()" *ngIf="currentUser().hidden_elements.includes(kiosk().id)"></i>
            <i class="pi pi-pencil !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="edit" showDelay="300" tooltipPosition="bottom" (click)="editOpen()" *ngIf="currentUser().admin || currentUser().id == kiosk().added_by_id"></i>
            <i class="pi pi-save !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="apply next Timeline as current Timeline" showDelay="300" tooltipPosition="bottom" (click)="changeTimeline()" *ngIf="nextTimeline"></i>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <element-timeline class="w-fit border border-highlight rounded-xl" [timeline]="timelines().get(kiosk().timeline_id!)!" [screens]="screens()" [screenTemplates]="screenTemplates()" [medias]="medias()" [users]="users()" [currentUser]="currentUser()" [timelineTemplates]="timelineTemplates()" *ngIf="kiosk().timeline_id"></element-timeline>
        <div class="w-fill h-20 border border-highlight bg-timeline-card rounded-xl shadow-md flex items-center justify-center text-2xl p-3" *ngIf="!kiosk().timeline_id">No Timeline is displayed</div>
        <div class="flex flex-col bg-screen-card rounded-xl shadow-md p-2 pt-0 pb-0">
            <div class="flex flex-row justify-end" *ngIf="timelinesExpanded">
                <i class="pi pi-chevron-up !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="collapse other Timelines" showDelay="300" tooltipPosition="bottom" (click)="timelinesExpanded = false"></i>
            </div>
            <div class="flex flex-row justify-between" *ngIf="!timelinesExpanded">
                <div></div>
                <div>other Timelines</div>
                <i class="pi pi-chevron-down !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="show other Timelines" showDelay="300" tooltipPosition="bottom" (click)="timelinesExpanded = true"></i>
            </div>
            <div class="flex flex-col gap-2" *ngIf="timelinesExpanded">
                @for (timeline of relevantTimelines; track timeline.id) {
                <div class="flex flex-row">
                    <div class="flex flex-col justify-center gap-1.5">
                        <div class="bg-timeline-card rounded-l-lg pb-1 pl-2 pr-1 pt-1.5">
                            <i class="pi pi-desktop !text-2xl hover:cursor-pointer hover:text-highlight" pTooltip="select as next Timeline" showDelay="300" tooltipPosition="right" (click)="selectTimeline(timeline.id, true)" *ngIf="nextTimeline != timeline.id"></i>
                            <i class="pi pi-verified !text-2xl hover:cursor-pointer text-highlight" pTooltip="unselect as next Timeline" showDelay="300" tooltipPosition="right" (click)="selectTimeline(timeline.id, true)" *ngIf="nextTimeline == timeline.id"></i>
                        </div>
                        <div class="bg-timeline-card rounded-l-lg pb-1 pl-2 pr-1 pt-1.5">
                            <i class="pi pi-list !text-2xl hover:cursor-pointer hover:text-highlight" pTooltip="select for Preset creation" showDelay="300" tooltipPosition="right" (click)="selectTimeline(timeline.id)" *ngIf="!presetTimelines.includes(timeline.id!)"></i>
                            <i class="pi pi-list-check !text-2xl hover:cursor-pointer text-highlight" pTooltip="unselect from Preset creation" showDelay="300" tooltipPosition="right" (click)="selectTimeline(timeline.id)" *ngIf="presetTimelines.includes(timeline.id!)"></i>
                        </div>
                    </div>
                    <element-timeline [timeline]="timeline" [screens]="screens()" [screenTemplates]="screenTemplates()" [users]="users()" [currentUser]="currentUser()" [medias]="medias()" [timelineTemplates]="timelineTemplates()"></element-timeline>
                </div>
                }
                <div class="w-fill h-20 bg-add-card rounded-xl shadow-md flex items-center justify-center mb-2">
                    <i class="pi pi-plus-circle !text-3xl hover:cursor-pointer hover:text-highlight" (click)="timelineCreateActivate()" *ngIf="!timelineCreateActive"></i>
                    <p-select [options]="selectableTimelineTemplates" [(ngModel)]="selectedTimelineTemplate" optionValue="code" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" (onChange)="timelineCreate()" appendTo="body" class="m-3 w-full !text-1xl" *ngIf="timelineCreateActive" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL -->
<p-dialog [modal]="true" appendTo="body" [(visible)]="editActive">
    <ng-template #headless>
        <div class="p-4 pt-2 pb-3 bg-card rounded-xl shadow-md flex flex-col items-left" *ngIf="editActive">
            <div class="w-full text-right mb-1">
                <i class="pi pi-times hover:cursor-pointer hover:text-danger" (click)="editClose()"></i>
            </div>

            <p-iftalabel class="w-full mb-2">
                <input pInputText id="name" [(ngModel)]="kiosk().name" autocomplete="off" class="w-full" [disabled]="kiosk().id" />
                <label for="name">Name</label>
            </p-iftalabel>

            <p-iftalabel class="w-full mb-2">
                <input pInputText id="desc" [(ngModel)]="kiosk().desc" autocomplete="off" class="w-full" autofocus />
                <label for="desc">Description</label>
            </p-iftalabel>

            <p-iftalabel class="w-full mb-2">
                <p-select [(ngModel)]="kiosk().added_by_id" inputId="added_by_id" [options]="selectableUsers" optionValue="code" optionLabel="name" styleClass="w-full" [disabled]="!currentUser().admin" />
                <label for="added_by_id">Owner</label>
            </p-iftalabel>

            <p-selectbutton [options]="selectableCommons" inputId="common" [(ngModel)]="kiosk().common" optionLabel="name" optionValue="code" class="mb-2" />

            <div class="w-full flex justify-between">
                <p-button label="Delete" severity="danger" (onClick)="kioskDelete()" *ngIf="kiosk().id" />
                <p-button label="Save" (onClick)="kioskSave()" />
            </div>
        </div>
    </ng-template>
</p-dialog>
