<p-menubar class="!text-1xl" [model]="menuItems"></p-menubar>

<div class="flex flex-col p-2 gap-2">
    <div>Own Streams</div>
    @for (tt of ownStreamTTids; track tt) {
    <div>{{ timelineTemplates.get(tt)!.desc }}</div>
    }
</div>

<div class="flex flex-col p-2 gap-2">
    <div>Other Streams</div>
    @for (tt of otherStreamTTids; track tt) {
    <div>{{ timelineTemplates.get(tt)!.desc }}</div>
    }
</div>

<div class="flex flex-wrap p-2 gap-2">
    @for (kiosk of kiosks.values(); track kiosk.id) {
    <div class="flex flex-col p-1 gap-1" *ngIf="showHiddenKiosks || !currentUser.hidden_elements.includes(kiosk.id)">
        <div>{{ kiosk.name }}</div>
        <div>{{ timelineTemplates.get(timelines.get(kiosk.timeline_id!)!.template_id!)!.desc }}</div>
    </div>
    }
</div>
