<div class="flex flex-row w-fit max-w-50% justify-between items-center gap-3">
    <div>
        <input pInputText id="login" [(ngModel)]="user().login" autocomplete="off" [disabled]="!editActive" />
    </div>
    <div class="flex flex-row gap-2 items-center">
        <p-checkbox inputId="admin" [(ngModel)]="user().admin" [binary]="true" [disabled]="!editActive" />
        <label for="admin">Admin</label>
    </div>
    <div class="flex flex-row gap-2 items-center">
        <p-checkbox inputId="streamer" [(ngModel)]="user().streamer" [binary]="true" [disabled]="!editActive" />
        <label for="streamer">Streamer</label>
    </div>
    <div class="flex flex-row gap-2">
        <i class="pi pi-paperclip !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="copy user_id to clipboard" showDelay="300" tooltipPosition="top" (click)="toClipboard(user().id);" *ngIf="!editActive"></i>
        <i class="pi pi-key !text-1xl hover:cursor-pointer hover:text-danger" pTooltip="change password" showDelay="300" tooltipPosition="top" (click)="pwChangeActive = true" *ngIf="!editActive"></i>
        <i class="pi pi-pencil !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="edit" showDelay="300" tooltipPosition="top" (click)="editActive = true" *ngIf="!editActive"></i>
        <i class="pi pi-trash !text-1xl hover:cursor-pointer hover:text-danger" pTooltip="delete" showDelay="300" tooltipPosition="top" *ngIf="editActive && user().id && currentUser().id != user().id" (click)="deleteUser()"></i>
        <i class="pi pi-save !text-1xl hover:cursor-pointer hover:text-highlight" pTooltip="save" showDelay="300" tooltipPosition="top" *ngIf="editActive" (click)="saveUser()"></i>
        <i class="pi pi-times !text-1xl hover:cursor-pointer hover:text-danger" pTooltip="drop changes" showDelay="300" tooltipPosition="top" *ngIf="editActive" (click)="editClose()"></i>
    </div>
</div>

<p-dialog [modal]="true" appendTo="body" [visible]="pwChangeActive" *ngIf="pwChangeActive">
    <ng-template #headless>
        <div class="max-w-52% p-2 pt-1">
            <div class="w-fill flex flex-row justify-between items-start gap-5 mb-6">
                <div>&nbsp;</div>
                <div class="text-2xl">Change Password</div>
                <i class="pi pi-times !text-1xl hover:cursor-pointer hover:text-danger" (click)="pwChangeActive = false"></i>
            </div>
            <div class="flex flex-col justify-center items-center gap-7">
                <p-floatlabel>
                    <p-password [(ngModel)]="old_pw" inputId="old_pw" [feedback]="false" [toggleMask]="true" />
                    <label for="old_pw">Your Password</label>
                </p-floatlabel>
                <p-floatlabel>
                    <p-password [(ngModel)]="new_pw" inputId="new_pw" [feedback]="false" [toggleMask]="true" (keyup.enter)="submitPassword()" />
                    <label for="new_pw">New Password</label>
                </p-floatlabel>
            </div>
            <div class="w-fill flex flex-row justify-between items-center gap-5 m-2 mt-5">
                <div class="text-1xl text-danger">{{ error_msg }}</div>
                <p-button label="Submit" (onClick)="submitPassword()" />
            </div>
        </div>
    </ng-template>
</p-dialog>
