<p-dialog [modal]="true" appendTo="body" [(visible)]="isVisible" [dismissableMask]="true" (onHide)="closeDialog()">
    <ng-template #headless>
        <div class="w-fit max-w-52% p-3 pt-1">
            <div class="w-fill flex flex-row justify-between items-start gap-5 mb-2">
                <div>&nbsp;</div>
                <div class="text-2xl">User Manager</div>
                <i class="pi pi-times !text-1xl hover:cursor-pointer hover:text-danger" (click)="closeDialog()"></i>
            </div>
            <div class="flex flex-col max-h-35% overflow-x-hidden overflow-y-auto gap-2">
                @for (user of users().values(); track user.id) {
                <element-user [user]="user" [currentUser]="currentUser()"></element-user>
                }
                <element-user [user]="dummyUser" [currentUser]="currentUser()" [editMode]="true" (editResult)="createdUser()" *ngIf="dummyUser"></element-user>
                <div class="w-fill h-14 bg-add-card rounded-xl shadow-md flex items-center justify-center" *ngIf="!dummyUser">
                    <i class="pi pi-plus-circle !text-3xl hover:cursor-pointer hover:text-highlight" (click)="createUser()"></i>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
