<p-menubar class="!text-1xl" [model]="menuItems"></p-menubar>
<div class="flex flex-wrap p-2 gap-2">
    @for (kiosk of kiosks.values(); track kiosk.id) {
    <element-kiosk [kiosk]="kiosk" [users]="users" [currentUser]="currentUser" [timelineTemplates]="timelineTemplates" [timelines]="timelines" [screens]="screens" [screenTemplates]="screenTemplates" [timelinesChanged]="timelinesChanged" (editResult)="kioskEdited($event)" (timelineEdited)="timelineEdited($event)" (timelineSelection)="timelinesSelected($event)"></element-kiosk>
    }
</div>

<!-- SCREENS PANEL MODAL -->
<panel-screens [screens]="screens" [screenTemplates]="screenTemplates" [users]="users" [currentUser]="currentUser" (screenEdited)="screenEdited($event)" [(isActive)]="panelScreensActive" *ngIf="panelScreensActive"></panel-screens>

<!-- TIMELINETEMPLATES PANEL MODAL -->
<panel-timeline-templates [timelineTemplates]="timelineTemplates" [screens]="screens" [screenTemplates]="screenTemplates" [users]="users" [currentUser]="currentUser" (timelineTemplateEdited)="timelineTemplateEdited($event)" (screenEdited)="screenEdited($event)" (timelineEdited)="timelineEdited($event)" [(isActive)]="panelTimelineTemplatesActive" *ngIf="panelTimelineTemplatesActive"></panel-timeline-templates>

<!-- PRESETS PANEL MODAL -->
<panel-presets [presets]="presets" [kiosks]="kiosks" [screens]="screens" [screenTemplates]="screenTemplates" [users]="users" [currentUser]="currentUser" [timelineTemplates]="timelineTemplates" [(isActive)]="panelPresetsActive" (timelineEdited)="timelineEdited($event)" (presetEdited)="presetEdited($event)" *ngIf="panelPresetsActive"></panel-presets>
