<p>admin-screen works!</p>

@for (tt of timelineTemplates.values(); track tt.id) {
<element-timeline-template [timelineTemplate]="tt" [screens]="screens" [screenTemplates]="screenTemplates" [users]="users" [currentUser]="currentUser" (editResult)="timelineTemplateEdited($event)" (screenEdited)="screenEdited($event)"></element-timeline-template>
}

<!-- SCREENS PANEL MODAL -->
<panel-screens [screens]="screens" [screenTemplates]="screenTemplates" [users]="users" [currentUser]="currentUser" (screenEdited)="screenEdited($event)" [(isActive)]="panelScreensActive" *ngIf="panelScreensActive"></panel-screens>

<!-- TIMELINETEMPLATES PANEL MODAL -->
<panel-timeline-templates [timelineTemplates]="timelineTemplates" [screens]="screens" [screenTemplates]="screenTemplates" [users]="users" [currentUser]="currentUser" (timelineTemplateEdited)="timelineTemplateEdited($event)" (screenEdited)="screenEdited($event)" [(isActive)]="panelTimelineTemplatesActive" *ngIf="panelTimelineTemplatesActive"></panel-timeline-templates>

<p-speedDial [model]="menuItems" direction="left" mask [tooltipOptions]="{ tooltipPosition: 'top' }" buttonClassName="p-button-outlined"></p-speedDial>
