<div class="mx-auto h-screen overflow-hidden w-fill flex flex-col gap-6" *ngIf="isActive()">
    <div class="mx-auto w-fill font-orbitron flex items-center justify-center">
        <div class="text-7xl text-text bg-card rounded-b-lg p-7">
            {{ header() == '' ? title : header() }}
        </div>
    </div>

    <div class="mx-auto w-screen flex flex-row justify-evenly">
        <div class="bg-card h-fit w-45% rounded-lg p-2 pb-0">
            <div class="text-6xl font-orbitron font-medium text-text text-center pt-2 pb-4">
                Runde {{ round }}
            </div>
            <table class="table-auto text-6xl text-text w-full">
                <thead>
                    <tr class="border-b-2 border-background">
                        <th></th>
                        <th style="width: 90%"></th>
                    </tr>
                </thead>
                <tbody class="text-center divide-y divide-background">
                    @for (match of matches.values(); track match.id) {
                        <tr *ngIf="match.round == round">
                            <td>
                                <i class="pi pi-circle text-5xl" *ngIf="match.state != 3"></i>
                                <i class="pi pi-check-circle text-5xl" *ngIf="match.state == 3"></i>
                            </td>
                            <td>
                                <div class="relative flex flex-col p-2 pl-20 pr-20 justify-center">
                                    <div class="z-10 flex flex-row gap-3 justify-start" [ngClass]="{'text-highlight': match.winner_id && match.player1_id == match.winner_id}" >
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player1_id)!.portrait_id) }}" *ngIf="match.player1_id && participants.get(match.player1_id)!.portrait_id" />
                                        {{ match.player1_id ? participants.get(match.player1_id)!.name : '???' }}
                                    </div>
                                    <div class="z-10 flex flex-row gap-3 justify-end" [ngClass]="{'text-highlight': match.winner_id && match.player2_id == match.winner_id}" >
                                        {{ match.player2_id ? participants.get(match.player2_id)!.name : '???' }}
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player2_id)!.portrait_id) }}" *ngIf="match.player2_id && participants.get(match.player2_id)!.portrait_id" />
                                    </div>
                                    <div class="absolute inset-x-0 text-watermark text-8xl">
                                        <fa-icon [icon]="faBoltLightning"></fa-icon>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="bg-card h-fit w-45% rounded-lg p-2" *ngIf="round_loser">
            <div class="text-6xl font-orbitron font-medium text-text text-center pt-2 pb-4">
                Loser Bracket {{ round_loser * -1 }}
            </div>
            <table class="table-auto text-6xl text-text w-full">
                <thead>
                    <tr class="border-b-2 border-background">
                        <th></th>
                        <th style="width: 90%"></th>
                    </tr>
                </thead>
                <tbody class="text-center divide-y divide-background">
                    @for (match of matches.values(); track match.id) {
                        <tr *ngIf="match.round == round_loser">
                            <td>
                                <i class="pi pi-circle text-5xl" *ngIf="match.state != 3"></i>
                                <i class="pi pi-check-circle text-5xl" *ngIf="match.state == 3"></i>
                            </td>
                            <td>
                                <div class="relative flex flex-col p-2 pl-20 pr-20 justify-center">
                                    <div class="z-10 flex flex-row gap-3 justify-start" [ngClass]="{'text-highlight': match.winner_id && match.player1_id == match.winner_id}" >
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player1_id)!.portrait_id) }}" *ngIf="match.player1_id && participants.get(match.player1_id)!.portrait_id" />
                                        {{ match.player1_id ? participants.get(match.player1_id)!.name : '???' }}
                                    </div>
                                    <div class="z-10 flex flex-row gap-3 justify-end" [ngClass]="{'text-highlight': match.winner_id && match.player2_id == match.winner_id}" >
                                        {{ match.player2_id ? participants.get(match.player2_id)!.name : '???' }}
                                        <img class="h-14 w-14 rounded-full" src="{{ mediaURLs.get(participants.get(match.player2_id)!.portrait_id) }}" *ngIf="match.player2_id && participants.get(match.player2_id)!.portrait_id" />
                                    </div>
                                    <div class="absolute inset-x-0 text-watermark text-8xl">
                                        <fa-icon [icon]="faBoltLightning"></fa-icon>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
